################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
FileVersionInfo.cs
bin/
obj/
FakesAssemblies/
/src/packages
/src/NuGet
/src/Extensions/Templates/**/*.vstemplate

