<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="net45" />
  <package id="More.Build.Tasks.NuGet" version="1.0.3" targetFramework="net45" developmentDependency="true" />
  <package id="NuGet.CommandLine" version="3.3.0" targetFramework="net45" developmentDependency="true" />
</packages>